/*#navbarSupportedContent {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    text-align: center;
}*/

body {
    background-color: #708090;
}

#postBtn {
    align-content: center;
    display: flex;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    text-align: center;

}

.container-fluid h1{
    font-size: xxx-large;
}

/*/#main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    height: 800px;
}/*/


#middleContainer {
    display: flex;
    background-color: darkgrey;
}

header {
    text-align: center;
    font-size: xxx-large;
}

header div{
    text-align: center;
}

.btn btn-secondary {
    float: right;
}

#mainImageBox {
    display: flex;
    flex-direction: column;
    height: fit-content;

    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 60em;
    align-items: center;
    height: 45em;
}


.fill {
    display: flex;
    overflow: hidden;
    height: 33em;
    width: 60em;
    border: solid;
    border-width: .5em;
    border-radius: 5em;
    margin: .3em;
    border-color: black;
}

.fill img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

#description {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 6em;
    width: 20em;
    flex-wrap: wrap;
    margin: auto;
}

#blogBody{
    display:flex;
    width: 50em;
    overflow
   
    text-align: center;
}

#bodyTextBox {
    width: 50em;
    height: 4em;
    margin-left: 5.6em;
    border: solid;
    border-width: .2em;
    border-radius:em;
    border-color: black;
}

#comments { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
}

#commentBtn {
    display: flex;
    justify-content: center;
}

