body {
    background-color: #708090;
    font-family: 'Poppins', sans-serif;
}

#postBtn {
    margin-right: 2em;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    text-align: center;
}

.container-fluid img {
    height: 3em;
    width: 5em;
}

#middleContainer {
    display: flex;
    background-color: darkgrey;
}

header {
    text-align: center;
    font-size: xxx-large;
}

header div {
    text-align: center;
}

.btn btn-secondary {
    float: right;
}

#mainImageBox {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 60em;
    align-items: center;
    height: 55em;
}

.fill {
    display: flex;
    overflow: hidden;
    height: 33em;
    width: 60em;
    border: solid;
    border-width: .5em;
    border-radius: 5em;
    margin: .3em;
    border-color: black;
}

.fill img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

#description {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 6em;
    width: 20em;
    flex-wrap: wrap;
    margin: auto;
}

#blogBody {
    display: flex;
    width: 50em;
    text-align: center;
}

#bodyTextBox {
    width: 43.7em;
    height: 4em;
    margin-left: 6.9em;
    border: solid;
    border-width: .2em;

    border-color: black;
}

#comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#commentFormBox {
    display: flex;
    justify-content: center;
}

#commentBtn {
    color: white;
    border: solid;
    border-width: .1em;
    height: 58px;
    background-color: #212529;
}

#commentBox {
    display: flex;
    font-size: 20px;;
    justify-content: center;
    text-align: center;
    width: 50em;
    font-size: x-large;
}

#each {
    display: flex;
    background-color: #d8d4d4;
    margin-left: .2em;
    padding: .5em;
    font-size: 20px;
    border: solid .1em;
    width: 35em;

}

/*    *******MEDIA QUERIES********* */

@media only screen and (max-width:767px) {
    #mainImageBox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: flex-start;
        align-items: center;
    }
    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #bottom {
        display: none;
    }
    #imageText {
        display: none;
    }
    .fill {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 25em;
        width: 25em;
        border: solid;
        border-width: .5em;
        border-radius: 5em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #mainImageBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
    }
    #container {
        justify-content: center;
        align-items: center;
        height: 40em;
        width: 60vh;
    }
    .fill {
        height: 30em;
        width: 90vh;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #mainImageBox {
        display: flex;
        justify-content: flex-start;
        height: fit-content;
    }
    #container {
        justify-content: center;
        align-items: center;
        height: 40em;
        width: 60vh;
        margin: auto;
    }
    .fill {
        display: flex;
        overflow: hidden;
        height: 25em;
        width: 26em;
        border: solid;
        border-width: .5em;
        border-radius: 5em;
        border-color: black;
    }
    .fill img {
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }
}