body {
    background-color: #708090;
}


#postBtn {
align-content: center;
display: flex;
}

.container-fluid {
display: flex;

flex-direction: row;
position: relative;
justify-content: flex-start;
text-align: center;
}

.container-fluid h1{
font-size: xxx-large;
}
.container-fluid img{
    height: 3em;
    width: 5em;
}

#middleContainer {
    display: flex;
    background-color: darkgrey;
}



header div{
    text-align: center;
    font-size: 69px;
}

.btn btn-secondary {
    float: right;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

#head {
    font-size: 4.5em;
}

#registerBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid;
    border-width: .5em;
    border-radius: 5em;
    margin: .3em;
    border-color: black;
    height: 30em;
    width: 25em;

}

form {
    margin: auto;
}

#head {
    font-size: 3.5em;
    margin: auto;
}

input {
    margin: .5em;
    width:15em;
}


#loginbox {
    margin: auto;
}