body {
    background-color: #708090;
    font-family: 'Poppins', sans-serif;
    min-width: fit-content;
}

#postBtn {
    margin-right: 2em;
}

postBtn {
    align-content: center;
    display: flex;
    color: white;
    border: solid;
    border-width: .1em;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    text-align: center;
}

.container-fluid img {
    height: 3em;
    width: 5em;
}

header div {
    font-size: 69px;
    margin: .25em auto;
    -webkit-text-stroke: 1.5px white;
    text-align: center;
    font-size: 5.5em;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#sortBy {
    color: white;
    font-size: medium;
    margin-left: 2em;
    margin-bottom: .5em;
}

#newestBtn {
    color: white;
    border: solid;
    border-width: .1em;
}

#oldestBtn {
    color: white;
    border: solid;
    border-width: .1em;
}

#middleContainer {
    display: flex;
    background-color: darkgrey;
}

.btn btn-secondary {
    float: right;
}

#mainImageBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
}

#blogTitle {
    text-decoration: none;
    color: black;
}

#blogTitle:hover {
    color: white;
}

.fill {
    display: flex;
    overflow: hidden;
    height: 25em;
    width: 29em;
    border: solid;
    border-width: .5em;
    border-radius: 5em;
    margin: .3em;
    border-color: black;
}

.fill img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

#description {
    display: flex;
   
    justify-content: center;
    text-align: center;
    height: 6em;
    width: 20em;
    flex-wrap: wrap;
    margin: auto;
}


/*    *******MEDIA QUERIES********* */

@media only screen and (min-width:100px) and (max-width:415px) {
    header {
        text-align: center;
    }
    #mainImageBox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: flex-start;
        align-items: center;
    }
    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #bottom {
        display: none;
    }
    #imageText {
        display: none;
    }
    .fill {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 25em;
        width: 25em;
        border: solid;
        border-width: .5em;
        border-radius: 5em;
    }
}

@media only screen and (min-width:416px)and (max-width:767px) {
    header {
        text-align: center;
    }
    #mainImageBox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: flex-start;
        align-items: center;
    }
    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #bottom {
        display: none;
    }
    #imageText {
        display: none;
    }
    .fill {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 25em;
        width: 25em;
        border: solid;
        border-width: .5em;
        border-radius: 5em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #mainImageBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
    }
    #container {
        justify-content: center;
        align-items: center;
        height: 40em;
        width: 60vh;
    }
    .fill {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 30em;
        width: 45em;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #mainImageBox {
        display: flex;
        justify-content: flex-start;
        height: fit-content;
    }
    #container {
        justify-content: center;
        align-items: center;
        height: 40em;
        width: 60vh;
        margin: auto;
    }
    .fill {
        display: flex;
        overflow: hidden;
        height: 25em;
        width: 26em;
        border: solid;
        border-width: .5em;
        border-radius: 5em;
        border-color: black;
    }
    .fill img {
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }
}